################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitHubLearning1/.vs/GitHubLearning1
/GitHubLearning1/GitHubLearning1/bin/Debug/netcoreapp3.1
/GitHubLearning1/GitHubLearning1/obj
